$color-black: #000000;
$color-white: #ffffff;
$color-pink: #f558ed;
$color-green: #00c742;
$color-orange: #ff5700;
$font-dm-sans: 'DM Sans', Helvetica, sans-serif;
$font-rajdhani: 'Rajdhani', Helvetica, sans-serif;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 600;
$fw-extra-bold: 700;
$br-full: 53px;
$br-card: 40px;
$br-phone: 39.68px;
$br-feature-button: 70px;